.flower-card {
  display: flex;
  width: 400px;
  height: 300px;
  border-radius: 16px;
  border: 1.5px solid orange;
  overflow: hidden;
  margin: 20px;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); */
  transition: 0.3s ease-in-out;
}

.flower-card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.flower-image {
  flex: 7;
  background-size: cover;
  background-position: center;
}

.flower-info {
  flex: 3;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flower-info h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #2c3e50;
}

.flower-info p {
  margin: 8px 0 0;
  color: #555;
}
